{
  "extends": ["stylelint-config-standard", "stylelint-config-prettier", "stylelint-config-recess-order"],
  "ignoreFiles": ["node_modules", "dist/**"],
  "plugins": ["stylelint-scss", "stylelint-less"],
  "rules": {
    "max-nesting-depth": 4
  }
}
