/* @import "./a.css"; */
body {
  background-color: #ccc;
  background-image: url("../img/1.png");
}

.css {
  display: flex;
  font-size: 100px;
  color: green;

  .nest1 {
    color: red;

    .nest2 {
      color: red;
    }
  }
}
